body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #1D232C;
	width: 500%;
	max-width: 1200px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background:#EA2A46;
}

