body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #1D232C;
	width: 600%;
	max-width: 1440px;
	margin: 0;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background:#EA2A46;
}
body{
	margin: 0;
}
video{
top:00%;
left:0%;
position: fixed;
z-index: 2;
position:relative;


}
footer{
	text-align: center;
	background-color:#1D232C;
	color:#fff;
	padding: 30px;
}